:root {
    --paragraph: 'Hind Madurai', sans-serif;
    --sections: 'Meera Inimai', sans-serif;
    --title: 'Raleway', sans-serif;
    --duotone-light: #01DBFE;
    --duotone-dark: #7F01D3;
    --dark-pink: #E56399;
    --light-pink: #E5D4CE;
    --burnt-orange: #DE6E4B;
    --font-white: #f5f5f5
}

section {
    display: block;
}

body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-position: center;
    width: fit-content;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    font-size: 1rem;
    font-family: var(--sections);
    margin-top: 1rem;
    color: var(--font-white);
    letter-spacing: .25rem;
    filter: drop-shadow(5px 2px 10px black);
    -webkit-filter: drop-shadow(5px 2px 10px black);
}

header h3 {
    font-family: var(--title);
    font-size: 1.5rem;
    text-align: center;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--font-white);
}

a:active {
    color: var(--font-white);
}

#hero {
    margin-top: 10rem;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(5px 2px 10px black);
    -webkit-filter: drop-shadow(5px 2px 10px black);
}

#left {
    width: 48%;
    color: var(--font-white);
}



#right {
    width: 48%;

    margin: auto;
    color: var(--font-white);
}

.topText {
    font-size: 4rem;
    font-family: var(--title);
    text-align: center;
    letter-spacing: .25rem;
    margin: 0;
}

.bottomText {
    font-size: 2rem;
    text-align: center;
    font-family: var(--sections);
}

#button {
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    margin: 5rem auto;
    font-family: var(--title);
    background-color: var(--duotone-dark);
    color: var(--duotone-light);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .25s ease-in;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -ms-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    box-shadow: 5px 5px 5px rgba(124, 53, 112, 0.622);
    letter-spacing: .5rem;
    cursor: pointer;
}

#button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding: .5rem;
    font-size: 2rem;
    letter-spacing: .15rem;
}

#button:active {
    transform: scale(.98);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
    padding: 1rem;
    font-size: 1.5rem;
}

footer {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-family: var(--paragraph);
    color: var(--font-white);
    line-height: .25rem;
    filter: drop-shadow(5px 2px 10px black);
    -webkit-filter: drop-shadow(5px 2px 10px black);
}

#p2splash {
    width: 100vw;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    text-transform: uppercase;

}

#p2splash h1 {
    color: var(--font-white);
    font-size: 10rem;
    margin: 0;
}

#p2splash h3 {
    color: var(--font-white);
    font-size: 2rem;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    header {
        flex-direction: column;
    }

    ul {
        width: 100vw;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }

    #right {
        display: none;
    }

    .topText {
        font-size: 3rem;
    }

    .bottomText {
        font-size: 2rem;
    }
}